@font-face {
  font-family: "heebo-regular";
  src: url("../fonts/Heebo/Heebo-Regular.ttf");
}
@font-face {
  font-family: "heebo-bold";
  src: url("../fonts/Heebo/Heebo-Bold.ttf");
}
@font-face {
  font-family: "heebo-light";
  src: url("../fonts/Heebo/Heebo-Light.ttf");
}
@font-face {
  font-family: "heebo-medium";
  src: url("../fonts/Heebo/Heebo-Medium.ttf");
}
