@import "./mixins.scss";
@import "./colors.scss";
@import "./datePicker.scss";

#members-wrapper {
	margin-top: 100px;

	.header-comp {
		z-index: 2;
	}

	.content-wrapper {
		position: relative;
		top: -75px;
		padding: 100px 0 25px 25px;
		margin: 0 20px 400px;

		h2 {
			@include header-medium;
		}
	}
}
//----------------------------------
#member-center {
	margin-top: 100px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	grid-row: 2/3;

	h1 {
		@include header-large;
		color: white;
	}

	.sidebar-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 20px;
	}

	.sidebar {
		background-color: $mutedYellow;
		display: flex;
		flex-direction: column;
		width: 250px;
		border-radius: 10px;
		padding: 5px 0;
		overflow: hidden;

		.sidebar-item {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 5px;

			a,
			svg {
				margin: 0 10px;
			}

			p {
				margin: 0;
			}

			a {
				@include body;
				flex-grow: 1;
			}
		}
	}

	#post-detail {
		width: 70%;
	}

	//----------------------------------
	#center-flow {
		display: flex;

		#recent-posts {
			height: 100%;
			width: 100%;
		}

		#archive {
			height: 100%;
			width: 100%;
			margin: 0 20px;

			.selector {
				margin-bottom: 10px;
			}
		}

		#calendar {
			height: 100%;
			width: 100%;

			.selectors {
				.selector {
					margin: 0 20px 10px;
				}
			}

			.header {
				font-size: 58px;
				color: white;
				font-family: "heebo-bold";
				margin-left: 20px;
			}

			.calendar-view {
				margin: 0 20px 150px;
			}

			.calendar-header {
				padding: 10px 0;
				display: flex;
				flex-direction: row;
				align-items: center;

				.weekday-wrapper {
					flex-grow: 1;
					flex-basis: 100%;
				}

				p {
					margin: 0;
					text-align: center;
					font-family: "heebo-regular";
					font-size: 18px;
					margin: 0;
				}
			}

			.calendar-grid {
				width: 100%;
				height: 100%;
				display: grid;
				grid-template-columns: repeat(7, 1fr);
				grid-template-rows: repeat(6, clamp(100px, 20vh, 200px));
			}

			.square-wrapper {
				margin: 10px;
			}

			.grid-item-content {
				height: 100%;
				width: 100%;
				background-color: white;
				color: $darkBlue;
				border-radius: 5px;
				overflow: hidden;

				.day-label {
					margin: 5px 0 0 5px;
				}
			}

			.event {
				background-color: $lightBlue;
				color: white;
				padding: 5px;
				margin: 0 0 5px;
			}

			.see-more {
				background-color: $brightRed;
			}

			.header {
				display: flex;
				align-items: center;

				svg {
					margin-left: 20px;
				}
				svg:hover {
					cursor: pointer;
				}
				button:hover {
					cursor: pointer;
				}
			}

			.event-title {
				font-family: "heebo-regular";
				font-size: 12px;
				margin: 0;
				white-space: nowrap;
			}

			.event-detail {
				margin: 0 20px 150px;

				.time {
					font-size: 36px;
					font-family: "heebo-medium";
				}
			}
		}

		#sign-ups {
			height: 100%;
			width: 100%;
		}

		#account {
			height: 100%;
			width: 100%;
		}

		#admin {
			height: 100%;
			width: 100%;

			.admin-selector {
				margin: 0 20px 10px;
				width: 60%;
			}

			//----------------------------------
			#create-post {
				margin: 0 20px 80px;

				.form-input {
					justify-content: flex-start;
					margin: 0;

					label {
						font-family: "heebo-bold";
						text-align: left;
						flex-basis: auto;
					}
				}
			}
			//----------------------------------
			#manage-posts {
				margin: 0 20px 200px;

				h2,
				hr {
					font-family: "heebo-bold";
					font-size: 48px;
					color: white;
				}

				hr {
					margin-top: 0;
				}

				.manage-posts-header {
					display: flex;
					flex-direction: row;
					align-items: center;

					button {
						margin-left: 20px;
					}
				}

				#edit-post {
					.form-input {
						display: flex;
						justify-content: flex-start;

						label {
							font-family: "heebo-bold";
							font-size: 18px;
							text-align: left;
							flex-basis: auto;
						}

						input {
							font-family: "heebo-regular";
							font-size: 18px;
							border: none;
							border-bottom: 2px solid black;
						}
					}
				}

				.posts {
					li {
						display: flex;
						width: 100%;
					}

					.blog-post-container {
						width: 100%;
					}

					.success-message {
						width: 100%;
						margin: 0 20px;
					}

					div {
						display: flex;
						flex-direction: column;
						color: $brightRed;

						button,
						svg {
							margin-bottom: 20px;
						}
					}
				}
			}
			//----------------------------------
			#calendar-events {
				margin: 0 20px;

				.content-wrapper {
					margin-bottom: 30px;
				}

				.headline {
					margin: 0;
					margin-left: calc(max(18%, 150px) + 10px);
					font-family: "heebo-regular";
					font-size: "14px";
					opacity: 30%;
				}

				.btn {
					margin-left: calc(max(18%, 150px) + 10px);
					margin-top: 20px;
				}

				.event-input {
					display: grid;
					grid-template-columns: max(18%, 150px) 1fr;

					label {
						text-align: right;
						width: 100%;
						font-family: "heebo-medium";
						font-size: 24px;
					}

					input,
					textarea {
						margin-left: 10px;
						padding: 10px;
						border: none;
						background-color: $mutedRed;
						font-size: 16px;
						font-family: "heebo-regular";
					}

					textarea {
						resize: vertical;
						height: 400px;
					}
				}
			}
			//----------------------------------
			#manage-admins {
				margin: 0 20px;

				.content-wrapper {
					margin-bottom: 20px;
				}

				span {
					display: flex;
					align-items: center;

					h3 {
						flex-grow: 1;
						font-family: "heebo-bold";
						font-size: 18px;
					}
				}

				.admin-list {
					li {
						display: flex;
						flex-grow: 1;
						border-bottom: 2px solid $darkBlue;
						margin: 0 10px;
						align-items: center;
						justify-content: flex-start;
						width: 100%;

						p {
							flex-grow: 1;
						}
					}
				}

				.input-field {
					width: 100%;
					display: flex;
					margin-top: 10px;

					input {
						flex-grow: 1;
						border: none;
						background-color: $mutedRed;
						font-family: "heebo-light";
						font-size: 18px;
						padding-left: 10px;
					}

					input:focus {
						outline: none;
					}
				}

				.results-field {
					display: flex;

					p {
						flex-grow: 1;
					}

					button {
						margin: 10px 0;
					}
				}
			}
		}
	}
}
